{% extends "base.html.twig" %}
    {% block title %}Login form{% endblock %}
    {% block content %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.getMessageKey }}
            </div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="exampleInputLogin">Login</label>
                <input name="_username" value="{{ last_username }}" type="text" class="form-control" id="exampleInputLogin" placeholder="Enter login">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="_password"  type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endblock %}