{% extends "layouts/base.html.twig" %}
{% block title %}Create your account{% endblock %}
{% block content %}
    <h1>Create your account</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}